@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

body {
  font-family: Roboto;
  font-weight: 300;
  padding: 0 24px;
}
h1 {
  font-weight: 400;
  padding: 15px 0;
}
.details {
  background-color: #dfdfdf;
  padding: 15px;
  border-color: #8b8b8b;
  margin-bottom: 15px;

}
